<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Shift.Demo.MVC</title>

    <link rel="stylesheet" href="~/Content/jsgrid.min.css" />
    <link rel="stylesheet" href="~/Content/jsgrid-theme.min.css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="nav-brand" href="/"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Progress")">Status & Progress</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Job" )">Add Jobs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript" src="~/Scripts/jsgrid.min.js"></script>

    <script src="~/Scripts/common.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
